.LoaderButterflies {
    grid-area: quote;
    width: clamp(10rem, 86vw, 75rem);
}

.LoaderButterflies-Text {
    display: flex;
    justify-content: center;
    font-size: clamp(0.8rem, 1vw, 1rem);
    width: 86vw;
    font-weight: 600;
    animation: pulse 2s ease-in-out infinite;
    margin: 0;
    padding: 0;
}

.LoaderButterflies-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    z-index: 9999;

    position: relative;
    width: clamp(10rem, 86vw, 75rem);
}

.LoaderButterflies-Butterfly {
    position: absolute;
    width: 40px;
    height: 30px;
    animation: fly 6s ease-in-out infinite;
}

.LoaderButterflies-Butterfly_wing {
    position: absolute;
    width: 18px;
    height: 30px;
    background: #e91e63;
    opacity: 0.8;
    animation: flutter 0.2s ease-in-out infinite alternate;
}

.LoaderButterflies-Butterfly_wing.LoaderButterflies-Butterfly_wing-left {
    left: 2px;
    border-radius: 50% 50% 10% 40% / 50% 50% 10% 50%;
    transform-origin: right center;
}

.LoaderButterflies-Butterfly_wing.LoaderButterflies-Butterfly_wing-right {
    right: 2px;
    border-radius: 50% 50% 40% 10% / 50% 50% 50% 10%;
    transform-origin: left center;
}

/* flutter & flight variations */
.LoaderButterflies-Butterfly_1 {
    top: 30%;
    left: 10%;
    animation-delay: 0s;
}
.LoaderButterflies-Butterfly_1 .LoaderButterflies-Butterfly_wing {
    background: #ab47bc;
    animation-delay: 0.05s;
}

.LoaderButterflies-Butterfly_2 {
    top: 60%;
    left: 70%;
    animation-delay: -2s;
}
.LoaderButterflies-Butterfly_2 .LoaderButterflies-Butterfly_wing {
    background: #ec407a;
    animation-delay: 0.1s;
}

.LoaderButterflies-Butterfly_3 {
    top: 20%;
    left: 60%;
    animation-delay: -4s;
}
.LoaderButterflies-Butterfly_3 .LoaderButterflies-Butterfly_wing {
    background: #ff7043;
    animation-delay: 0.15s;
}

.LoaderButterflies-Butterfly_4 {
    top: 50%;
    left: 20%;
    animation-delay: -5s;
}
.LoaderButterflies-Butterfly_4 .LoaderButterflies-Butterfly_wing {
    background: #26c6da;
    animation-delay: 0s;
}

.LoaderButterflies-Butterfly_body {
    position: absolute;
    top: 6px;
    left: 18px;
    width: 4px;
    height: 18px;
    background: #880e4f;
    border-radius: 10px;
}

@keyframes flutter {
    0% {
        transform: rotateY(15deg);
    }
    100% {
        transform: rotateY(-60deg);
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0) scale(0.8) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translate(clamp(2rem, 15vw, 10rem), -80px) scale(1.2) rotate(45deg);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(clamp(4rem, 24vw, 22rem), 0) scale(0.8) rotate(90deg);
        opacity: 0;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}
