/* 
 * ===============================
 *  Themer Slider component
 * =============================== 
 */

.OklchSelector-Container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: clamp(5rem, 7svh, 7rem);
    padding: 0.5rem;
}

.OklchSelector-SliderColourDisplay {
    width: 4rem;
    height: 4rem;
    border-radius: 0.125rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.OklchSelector-TrackContainer {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    height: clamp(1.5rem, 5svh, 3.5rem);
}

.OklchSelector-ThumbText {
    position: absolute;
    pointer-events: none;
    left: calc((var(--value) * 1%) + (1rem - (var(--value) * 0.02rem)));
    top: 45%;
    transform: translate(-50%, -49%);
    font-size: 0.75rem;
    color: #333;
    font-weight: 600;
    white-space: nowrap;
    z-index: 3;
}

input[type='range'] {
    cursor: pointer;
    width: 100%;
    height: var(--SLIDER_HEIGHT);
    margin: 0; /* removes default browser margins that offset alignment */
    -webkit-appearance: none;
    appearance: none;

    /* the adjustment formula: (half_thumb_width - (percent * thumb_width / 100))*/
    background: linear-gradient(
        to right,
        var(--COLOUR_GRADE_500) 0%,
        var(--COLOUR_GRADE_500) calc((var(--value) * 1%) + (1rem - (var(--value) * 0.02rem))),
        #ddd calc((var(--value) * 1%) + (1rem - (var(--value) * 0.02rem))),
        #bbb 100%
    );
    accent-color: var(--COLOUR_GRADE_500);
    border-radius: 1rem;
    overflow: hidden; /* prevents gradient background leaking past the rounded corners */
}

/* style the thumb (the selector) */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--COLOUR_GRADE_400);
    border-radius: 50%;
    border: 1px solid #111;
    margin-top: 0; /* centre thumb on the track */
}

/* cross-browser support for Firefox */
input[type='range']::-moz-range-track {
    width: 100%;
    height: 2rem;
    background: #ccc;
    border-radius: 1rem;
    /* border: 1px solid #111; */
}

/* color before the thumb (the accent progress) */
input[type='range']::-moz-range-progress {
    background-color: var(--COLOUR_GRADE_500);
    height: 1.9rem;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--COLOUR_GRADE_400);
    border-radius: 50%;
    margin-top: 0; /* centre thumb on the track */
}

/* vertical orientation */

.OklchSelector-TrackContainer_vertical input[type='range'] {
    writing-mode: vertical-lr;
    width: clamp(0.5rem, 1vw, 1.5rem);
    height: clamp(1.5rem, 4.25svh, 3.5rem);
    transform: rotate(180deg);
    position: absolute;

    /* the adjustment formula: (half_thumb_width - (percent * thumb_width / 100))*/
    background: linear-gradient(
        to bottom,
        var(--COLOUR_GRADE_500) 0%,
        var(--COLOUR_GRADE_500) calc((var(--value) * 1%) + (0.25rem - (var(--value) * 0.005rem))),
        #ddd calc((var(--value) * 1%) + (0.25rem - (var(--value) * 0.005rem))),
        #bbb 100%
    );
}

.OklchSelector-TrackContainer_vertical input[type='range']::-webkit-slider-thumb {
    height: clamp(0.3rem, 0.5svh, 0.6rem);
    width: 1.5rem;
    background: var(--COLOUR_GRADE_300);
    border: 0.125rem solid #666;
    border-radius: unset;
}

/* color before the thumb (the accent progress) */
.OklchSelector-TrackContainer_vertical input[type='range']::-moz-range-progress {
    background-color: var(--COLOUR_GRADE_500);
    height: 1.9rem;
    width: 100%;
}

.OklchSelector-TrackContainer_vertical input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: clamp(0.125rem, 0.3svh, 0.3rem);
    width: 1.5rem;
    background: var(--COLOUR_GRADE_200);
    border-radius: 50%;
    border-color: #666;
    margin-top: 0; /* centre thumb on the track */
}

.OklchSelector-Container:has(.OklchSelector-TrackContainer_vertical input[type='range']) {
    padding: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    height: 100%;
    width: clamp(2rem, 4vw, 4rem);
}

.OklchSelector-TrackContainer_vertical input[type='range'] ~ .OklchSelector-ControlsContainer .OklchSelector-ThumbText {
    left: unset;
    top: unset;
    transform: unset;
    position: relative;
    font-style: normal;
    font-size: clamp(0.65rem, 0.7svh, 0.85rem);
    color: var(--COLOUR_GRADE_600);
}

.OklchSelector-ControlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: clamp(0.75rem, 1vw, 1rem);
}

.OklchSelector-ControlButton_up {
    transform: rotate(180deg);
    top: -2px;
}

.OklchSelector-ControlButton_up,
.OklchSelector-ControlButton_down {
    border: none;
    margin: 0;
    padding: 0;
    color: var(--COLOUR_GRADE_600);
    font-size: clamp(0.5rem, 1.7svh, 1.25rem);
    font-weight: 700;
    background: none;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -5px;
}

.OklchSelector-ControlButton_up:hover,
.OklchSelector-ControlButton_down:hover {
    cursor: pointer;
    color: var(--COLOUR_GRADE_300);
}

.OklchSelector-ControlButton_up:active,
.OklchSelector-ControlButton_down:active {
    cursor: pointer;
    outline: 3px solid var(--COLOUR_GRADE_400);
    outline-offset: 1px;
}

.OklchSelector-ControlButton_up:focus-visible,
.OklchSelector-ControlButton_down:focus-visible {
    cursor: pointer;
    outline: 2px solid #ff9800;
    outline-offset: 2px;
}
